.pie-div {
    width: 320px;
    height: 320px;
    max-width: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1150px) {
    .pie-div {
        width: 240px;
        height: 240px;
    }
}

@media screen and (max-width: 700px) {
    .pie-div {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 400px) {
    .pie-div {
        width: 120px;
        height: 120px;
    }
}